# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\папка\Новая папка\data-jpa-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
